CONFIG_INLINE_OPTIMIZATION=y
CONFIG_LLVM_POLLY=y
CONFIG_WIREGUARD=y
CONFIG_COMPAT_VDSO=y
CONFIG_WQ_POWER_EFFICIENT_DEFAULT=y
CONFIG_LTO_CLANG=y
CONFIG_NR_CPUS=8
CONFIG_ZRAM_DEF_COMP_LZ4=y
CONFIG_RCU_PANIC_ON_STALL=1
CONFIG_PANIC_TIMEOUT=-1
CONFIG_SUSPEND_SKIP_SYNC=y
CONFIG_DISABLE_TRACE_PRINTK=y
CONFIG_EXFAT_FS=y
CONFIG_KSU=y
CONFIG_KSU_SUSFS=y
CONFIG_KSU_SUSFS_SUS_PATH=y
CONFIG_KSU_SUSFS_SUS_MOUNT=y
CONFIG_KSU_SUSFS_SUS_KSTAT=y
CONFIG_KSU_SUSFS_SUS_MAPS=y
CONFIG_KSU_SUSFS_SUS_PROC_FD_LINK=y
CONFIG_KSU_SUSFS_SUS_MEMFD=y
CONFIG_KSU_SUSFS_TRY_UMOUNT=y
CONFIG_KSU_SUSFS_SPOOF_UNAME=y
CONFIG_KSU_SUSFS_ENABLE_LOG=y
CONFIG_KSU_SUSFS_SUS_OVERLAYFS=y
CONFIG_KSU_SUSFS_SUS_SU=n
CONFIG_CPU_FREQ_DEFAULT_GOV_SCHEDUTIL=y
CONFIG_USERFAULTFD=y
CONFIG_ADAPTIVE_TOLERANCE_OPTIMIZATION=y
CONFIG_MODULES=y
